<section class="comments">
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
</section>

<script type="text/javascript">
    var gitment_loaded = false;
    var gitment = new Gitment({
  		owner: 'Desgard',
  		repo: 'HackSwjtu.github.io',
  		oauth: {
    		client_id: '268cef3468b5191d9627',
    		client_secret: '1475d9453ad331433f9f4b3ea492edeaa29273b1',
  		},
	})
    function load_gitment(){
    	gitment_loaded = true
    	gitment.render('container')
    }
    window.onscroll = function(e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (gitment_loaded==false)
                load_gitment()
        }
    };
</script>
