<section class="comments">
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
</section>

<script type="text/javascript">
    var gitment_loaded = false;
    var gitment = new Gitment({
  		id: '页面 ID', // 可选。默认为 location.href
  		owner: '你的 GitHub ID',
  		repo: '存储评论的 repo',
  		oauth: {
    		client_id: '你的 client ID',
    		client_secret: '你的 client secret',
  		},
	})
    function load_gitment(){
    	gitment_loaded = true
    	gitment.render('container')
    }
    window.onscroll = function(e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (gitment_loaded==false)
                load_gitment()
        }
    };
</script>
