<header class="header-post" role="banner">
    <div class="header-center" align="center">
        <div class="header-center-logo-text">
            <img style="padding-top:15px; padding-bottom:15px" src="/assets/img/banner_header.svg" alt="Fuck Swjtu Everything" height="62px">
        </div>
        <div class="header-center-logo">
            <img style="padding-top:15px; padding-bottom:15px" src="/assets/img/logo_fill_white.svg" alt="Fuck Swjtu Everything" height="62px">
        </div>
    </div>
    {% include menu-search.html %}
</header>
