---
layout: minimal
title: "About us"
permalink: /about/index.html
description: "Some description about Victor Igor..."
---

<h2>Who are we?</h2>

<p>Hackers, SWJTUers, Geekers. </p>

<p>Do what we think it's cool, fuck swjtu everything!</p>

<h2>Members:</h2>
<div align="center"><div style="max-width: 800px" align="left">{% include contacts.html %}</div></div>

<br/><br/>

<h2>What cool things have we done?</h2>

<div class="aboutme">
	<ul class="recent">
		{% for project in site.projects %}
	    	<li>
          <a href="{{ project.url}}"><h3 class="post-title" itemprop="name">{{ project.name }}</h3></a>
          <p>{{ project.introduce }}</p>
        </li>
	    {% endfor %}
	</ul>
</div>
